<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<add key="UrlSrv" value="https://medifarmaqas-qas-cp-srv.cfapps.us10.hana.ondemand.com/browse/" />
	<add key="IP" value="172.16.8.25" />
	<add key="client_uri" value="https://medifarmaqas.authentication.us10.hana.ondemand.com"/>
	<add key="client_id" value="sb-mf-centralpesadas!t39312"/>
	<add key="client_secret" value="1RHfkSGwttWso8xyn4Zi/ye9HVg="/>
	<add key="ClientSettingsProvider.ServiceUri" value="" />
</configuration>