
*.exe
*.cache
*.dll
*.pdb
*.CopyComplete
*-Debug.json
*UserPrefs.xml
cola-impresion/CentralPesada.ColaImpresion.ImpresionQAS/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
cola-impresion/CentralPesada.ColaImpresion.ImpresionQAS/obj/Release/CentralPesada.ColaImpresion.ImpresionQAS.Properties.Resources.resources
cola-impresion/.vs/CentralPesada.ColaImpresion/v16/.suo
cola-impresion/CentralPesada.ColaImpresion.ImpresionDEV/obj/Release/CentralPesada.ColaImpresion.ImpresionDEV.Properties.Resources.resources
cola-impresion/CentralPesada.ColaImpresion.ImpresionDEV/obj/Release/ImpresionDEV.frmMain.resources
cola-impresion/.vs/CentralPesada.ColaImpresion/v16/.suo
.DS_Store
*.dll
*.dll
*.pdb
cola-impresion/.vs/CentralPesada.ColaImpresion/v16/.suo
*.txt
*.exe
