# CAP
_out
*.db
connection.properties
default-*.json
gen/
node_modules/
target/

# Web IDE, App Studio
.che/
.gen/

# MTA
*_mta_build_tmp
*.mtar
mta_archives/
Makefile*.mta
mta-op*/

# Other
.DS_Store
*.orig
*.log

*.iml
*.flattened-pom.xml

# IDEs
# .vscode
# .idea

mta_dev.yaml


# added by cds bind
.cdsrc-private.json
